{{#if message}}
    <div class="alert alert-success alert-dismissible fade show mb-5" role="alert">
        <strong>{{message}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{{/if}}

{{#if error}}
    <div class="alert alert-danger alert-dismissible fade show mb-5" role="alert">
        <strong>{{error}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

{{/if}}

{{#if result.length}}
    <div class="card p-5 mb-4">
        <div class="cardbody">
            <form action="/cars/rentList" method="POST">
                <div class="row mb-3">
                    <div class="col">
                        <label for="end" class="form-label">Numer rejestracyjny</label>
                        <input pattern="[a-zA-Z]{2,3}-\d{5}$" type="text" name="registration_number" class="form-control" placeholder="KR-12345">
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary">Wyszukaj</button>
                </div>
            </form>
            </form>
        </div>
    </div>


    {{#each result}}
        <div class="card mb-4">
            <div class="card-header bg-primary text-light">
                {{this.registration_number}}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{this.name}}</h5>
                <p class="card-text"><i
                        class="bi bi-calendar"></i> Data wypożyczenia: {{formatTime this.start_date "YYYY-MM-DD"}}
                </p>
                <p class="card-text"><i
                        class="bi bi-calendar-check"></i> Planowana data zwrotu: {{formatTime this.end_date
                                                                                               "YYYY-MM-DD"}}
                </p>
                <div class="d-flex justify-content-end">
                    <form action="/cars/rentList/return/{{this.registration_number}}" method="POST">
                        <button type="submit" class="btn btn-primary me-3"><i class="bi bi-check2"> Oddaj </i>
                        </button>
                    </form>
                    <form action="/cars/rentList/delete/{{this.registration_number}}" method="POST">
                        <button type="submit" class="btn btn-primary"><i class="bi bi-x-lg"> Anuluj </i>
                        </button>
                    </form>
                </div>
            </div>
        </div>

    {{/each}}
{{else}}
    <h1>Brak wypożyczeń w tej chwili</h1>
{{/if}}
